/On the Bit complexity of SOS Proofs.aux
/On the Bit complexity of SOS Proofs.blg
/On the Bit complexity of SOS Proofs.log
/On the Bit complexity of SOS Proofs.out
/On the Bit complexity of SOS Proofs.pdf